header, main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:cursive ;
    font-size: 30px;
    margin-top: 50px;
}

.button1 {
    width: 100px;
    border: solid 2px;
    background: white;
    color: #333;
    border-radius: 8px;
    padding: 8px 10px;
    font-family:cursive ;
    font-size: 20px;
    margin-top: 20px;
}

.button1:hover {
    background-color: #029902;
    color: white;
}

.button2 {
    width: 100px;
    border: solid 2px;
    background: white;
    color: #333;
    border-radius: 8px;
    padding: 8px 10px;
    font-family:cursive ;
    font-size: 20px;
    margin-top: 20px;
}

.button2:hover {
    background-color: #c22217;
    color: white;
}